*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

header{
	background-color: #b1a8a4;
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
}

nav > ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 50px;
}


nav{
	height: .3rem;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: center;
	align-items: center;

}

nav>ul>li{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	text-align: center;
	align-items: center;
	font-size: 12px;
	color: white;
	margin: 0 15px;
	letter-spacing: .2rem;/*
	text-shadow: 1px 1px black;*/



}

.home, .menu1{
	color: white;
}

.submenu1{
	background-color: whitesmoke;
	width: 50px;
	border-radius: 15px;
	/*height: 200px;*/
	/*display: flex;*/
	position: absolute;
	left: 34rem;
	top: 44px;
	color: black;
	visibility: hidden;
	z-index: 1
}

.submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
	font-size: 12px;

}

.submenu {
	width: 10%;
}

.submenu  > p:hover{
	background-color: gray;
}


.submenu2{
	background-color: whitesmoke;
	opacity: 50px;
	width: 10%;
	border-radius: 15px;
	/*height: 200px;*/
	/*display: flex;*/
	position: absolute;
	left: 39rem;
	top: 44px;
	color: black;
	visibility: hidden;
	z-index: 1
}

#megamenu:hover > .submenu, #megamenu > .submenu:hover{
	visibility: visible;
}
.submenu > div > p:hover{
	background-color: gray;
}

/*slides show*/

.slideshow-container{
	display: flex;
	justify-content: center;
}

.slideshow-container > .mySlides > img{
	height: 526px;
	/*padding-top: 50px;*/
	position: relative;
	top: 50px;

}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  visibility: hidden;
}


.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.75s;
  animation-name: fade;
  animation-duration: 1.75s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*end of slideshow*/

.brand>h1{
			
		font-size: 40px;
		padding-left: 110px;
		padding-top: 10px;
		letter-spacing: .3rem;
}

.icon{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

header >h1{
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	text-align: center;
	letter-spacing: 10px;
	font-size: 70px;
	margin-top: 25px;
	font-weight: bold;
			}

.the, .war, .vogue{
	color: white;
	text-shadow: .5px .5px black;
	letter-spacing: 30px;


}


.the{
	position: absolute;
	top:12rem;
	left: 38rem;
	font-size: 70px;
}

.vogue{
	position: absolute;
	top:18rem;
	left: 33rem;
	font-size: 70px;
}

.war{
	position: absolute;
	top:24rem;
	left: 36.5rem;
	font-size: 70px;
}


header  h3{
	font-weight: 10px bold;
	letter-spacing: 10px;
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	position: absolute;
	top:8rem;
	left: 38rem;
	color: white;
	text-shadow: .2px .2px black;
	/*text-shadow: .5px .5px lightgray; */

}

.btn{
	padding: 10px 20px;
	/*border-radius: 8px;*/
	border: none;
	background-color: black;
	font-size: 15px;
	color: white;
}

header>div>button{
	position: absolute;
	left: 38rem;
	top: 32rem;
}

.btn:hover{
	transform: scale(1.1);
	transition: .6s;}

/*end of header*/


.about{
	height: 100vh;
	text-align: center;
	border: 1px solid lightgray;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
}

.about > h1{
	font-family: 'Montserrat', sans-serif;
	margin-top: 12rem;
	font-size: 30px;
	letter-spacing: 4px;

}

.about > div > p{
	font-family: 'Arapey', serif
	font-size: 50px;
	letter-spacing: 3px;
	padding: auto;
	margin: 5rem;

}

/*end of about*/

.collection{
	height: 100vh;
	background: url(../images/bg3.jpg);
	background-size: cover;
	background-position: center;


}

.collection > div> h1{
	text-align: center;	
	font-size: 45px;
	margin-bottom: 60px;
	padding: 30px;
	letter-spacing: 5px;
	font-family: 'Old Standard TT', serif;
	color: white;

}

.collection > div > img{
	width: 250px;
	height: 250px;
	/*position: relative;*/
	/*left: 90px;*/
	margin: 30px;
	border: 1px solid gray;
	/*padding-left: 10px;*/
	-webkit-box-shadow: 0px 0px 42px -11px rgba(181,179,181,1);
	-moz-box-shadow: 0px 0px 42px -11px rgba(181,179,181,1);
	box-shadow: 0px 0px 42px -11px rgba(181,179,181,1);
}

.collection > div > img:hover{
	transform: scale(1.1);
	transition: .6s;
	filter: grayscale(1);
	-webkit-box-shadow: 0px 0px 31px 9px rgba(150,148,150,1);
	-moz-box-shadow: 0px 0px 31px 9px rgba(150,148,150,1);
	box-shadow: 0px 0px 31px 9px rgba(150,148,150,1);
}

.Shop{
	height: 100vh;
}
.items{
	width: 250px;
	height: 250px;
	margin: 30px;
	border-radius: 8px;
	margin-top: 50px; 
}


.Shop > div> h1{
	text-align: center;	
	font-size: 50px;
	margin: 60px;
	padding: 50px;
	letter-spacing: 5px;
	font-family: 'Old Standard TT', serif;
	background-size: cover;
	background-position: center;

}

.fill{
	text-align: center;
	height: 100vh;
	background: url(../images/8.jpeg);
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
		font-family: 'Montserrat', sans-serif;


}

.box{

	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5rem;
}

.box > form{
	height: 60vh;
	width: 80%
}

form > h4{
	font-size: 40px;
	text-align: center;
	margin: 10px;
	color: black;
}

input{
	display: block;
	margin: 10px auto;
	height: 20px;
	width: 250px;
	border-radius: 10px;
	padding: 15px;
	
}

textarea{
	display: block;
	margin: 10px auto;
	height: 100px;
	width: 250px;
	border-radius: 10px;
		font-family: 'Montserrat', sans-serif;

}


/*footer{
	height: 100vh;
}

.search{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	position: relative;
	top: 50px;


}

.terms{
	font-size: 12px;
	position:relative;
	top:50px;
	left: 15rem;

}

.social{
	font-size: 12px;
	position:relative;
	top:50px;

}
*/



